<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <meta name="author" content="https://www.dolabank.com" />
        <meta name="keywords" content="CSS, HTML, JavaScript, 前端" />
        <meta name="description" content="这是一份meta列表" />
        <meta http-equiv="x-ua-compatible" content="IE=Edge, chrome=1" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no,email=no,address=no" />
        <meta name="full-screen" content="yes"/>
        <meta name="browsermode" content="application"/>
        <meta name="x5-orientation" content="portrait"/>
        <meta name="renderer" content="webkit">

        <link rel="stylesheet" href="../../static/css/common.css" />
        <link rel="stylesheet" href="../../static/css/index.css" />
		<title></title>
	</head>
	<body>
        <section class="new-people__block">
            <section class="new-people__part new-people__part1">
                <div class="l-container">
                    <h2 class="title__new-people">
                        <span class="title--text">多啦聚财是做什么的？</span>
                    </h2>
                    <div class="new-people__content">
                        <p class="new-people--text">多啦聚财成立于2014年，注册资金1亿元，总部位于深圳市金融中心福田区。为深圳嘉银普惠科技有限公司旗下的一家专注于小额消费金融的互联网投资平台。多啦聚财凭借专业高效的人才队伍，构建了严密的风险控制系统和贴心的客户服务体系，通过云计算、大数据和移动支付等先进的互联网技术，打造出智能债权匹配系统，为投资人提供一个合规、安全、便捷的互联网投资平台。</p>
                    </div>
                </div>
            </section>
            <section class="new-people__part new-people__part2">
                <div class="l-container">
                    <h2 class="title__new-people">
                        <span class="title--text">多啦聚财是如何运作的？</span>
                    </h2>
                    <div class="new-people__content">
                        <img src="https://dolabank-apk.oss-cn-shenzhen.aliyuncs.com/dolabank/static/images/v2/dola_guarantee_23.jpg" width="1200" height="462" alt="多啦理财运作流程图" />
                    </div>
                </div>
            </section>
            <section class="new-people__part new-people__part3">
                <div class="l-container">
                    <h2 class="title__new-people">
                        <span class="title--text">选择多啦聚财的4大理由</span>
                    </h2>
                    <div class="new-people__content">
                        <ul class="reason__block clearfix">
                            <li class="reason__list reason__list01">
                                <div class="reason-title__block">
                                    <h3 class="reason__title">安全保障</h3>
                                </div>
                                <ul class="reason__cont">
                                    <li class="reason__item">●&nbsp;银行存管</li>
                                    <li class="reason__item">●&nbsp;众安保险</li>
                                    <li class="reason__item">●&nbsp;双重风控</li>
                                    <li class="reason__item">●&nbsp;资金同卡进出</li>
                                    <li class="reason__item">●&nbsp;律所合作</li>
                                    <li class="reason__item">●&nbsp;电子签章</li>
                                    <li class="reason__item">●&nbsp;阿里云Web应用防火墙</li>
                                    <li class="reason__item">●&nbsp;VeriSign SSL数据传输加密</li>
                                </ul>
                            </li>
                            <li class="reason__list reason__list02">
                                <div class="reason-title__block">
                                    <h3 class="reason__title">精彩活动</h3>
                                </div>
                                <ul class="reason__cont">
                                    <li class="reason__item">● 投资返现活动</li>
                                    <li class="reason__item">● 邀请好友返现活动</li>
                                    <li class="reason__item">● 疯狂加息活动</li>
                                    <li class="reason__item">● 投资抽奖活动</li>
                                    <li class="reason__item">● 微信赠送体验金</li>
                                </ul>
                            </li>
                            <li class="reason__list reason__list03">
                                <div class="reason-title__block">
                                    <h3 class="reason__title">资金灵活</h3>
                                </div>
                                <ul class="reason__cont">
                                    <li class="reason__item">● 100元即可起投</li>
                                    <li class="reason__item">● 持有30天后可提前退出</li>
                                    <li class="reason__item">● 多终端入口，简易操作</li>
                                </ul>
                            </li>
                            <li class="reason__list reason__list04 no-mr">
                                <div class="reason-title__block">
                                    <h3 class="reason__title">专业风控</h3>
                                </div>
                                <ul class="reason__cont">
                                    <li class="reason__item">● 天盾大数据风控系统</li>
                                    <li class="reason__item">● 双重风控机制</li>
                                    <li class="reason__item">● 完善的反欺诈管理制度</li>
                                    <li class="reason__item">● 专业的风控团队</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="new-people__part new-people__part4">
                <div class="l-container">
                    <h2 class="title__new-people">
                        <span class="title--text title--text-color">如何注册投资</span>
                    </h2>
                    <div class="new-people__content">
                        <div class="slider__block"></div>
                        <a href="/user/register" class="button__register">立即注册</a>
                    </div>
                </div>
            </section>
            <!--<section class="new-people__part new-people__part5"></section>-->
            <!--<section class="new-people__part new-people__part6"></section>-->
        </section>
	</body>
</html>
