<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/index.min.css"/>
		<style type="text/css">
			body {
			    padding-top: 20px;
			}
			.test li {
			    height: 40px;
			    line-height: 40px;
			}
		</style>
	</head>
	<body>
	    <ul class="test">
	    	<li class="border-top-1px">打好的哈发货撒回复啥客户方大家都在发</li>
	    </ul>

	    <ul class="test">
            <li class="border-bottom-1px">打好的哈发货撒回复啥客户方大家都在发</li>
        </ul>

	</body>
</html>
