@charset 'utf-8';

.new-people {
    &__part {
        padding: 70px 0 105px 0;
    }
    &__part2 {
        background: #fafafa;
    }
    &__part4 {
        margin-top: -145px;
        padding-top: 150px;
        background: url("https://dolabank-apk.oss-cn-shenzhen.aliyuncs.com/dolabank/static/images/v2/dola_guarantee_48.jpg") repeat;
    }
    &__content {
        margin-top: 45px;
        .button__register {
            display: block;
            width: 224px;
            height: 52px;
            font-size: 18px;
            color: #ffffff;
            text-align: center;
            line-height: 52px;
            background: url("https://dolabank-apk.oss-cn-shenzhen.aliyuncs.com/dolabank/static/images/v2/icn.png") no-repeat -149px -260px;
            margin: 0 auto;
        }
    }
    &--text {
        font-size: 16px;
        color: #777;
        line-height: 32px;
    }
}

.title {
    &__new-people {
        text-align: center;
    }
    &--text {
        position: relative;
        display: inline-block;
        padding: 0 16px 30px 16px;
        font-size: 30px;
        line-height: 1;
        color: #003399;
        border-bottom: 1px solid #ececec;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -20px;
            width: 40px;
            height: 2px;
            background-color: #003399;
        }
    }
    &--text-color {
        color: #fff;
        &:after {
            background-color: #fff;
        }
    }
}

.reason {
    &__block {

    }
    &__list {
        float: left;
        width: 285px;
        height: 484px;
        margin-right: 20px;
        box-shadow: 0px 0px 24px rgba(0,153,255,0.12);
        background-repeat: no-repeat;
        background-position: center;
    }
    &__list01 {
        background-image: url("https://dolabank-apk.oss-cn-shenzhen.aliyuncs.com/dolabank/static/images/v2/dola_guarantee_34.png");
    }
    &__list02 {
        background-image: url("https://dolabank-apk.oss-cn-shenzhen.aliyuncs.com/dolabank/static/images/v2/dola_guarantee_35.png");
    }
    &__list03 {
        background-image: url("https://dolabank-apk.oss-cn-shenzhen.aliyuncs.com/dolabank/static/images/v2/dola_guarantee_36.png");
    }
    &__list04 {
        background-image: url("https://dolabank-apk.oss-cn-shenzhen.aliyuncs.com/dolabank/static/images/v2/dola_guarantee_37.png");
    }
    &-title__block {
        padding-top: 70px;
        padding-left: 20px;
        padding-bottom: 80px;
    }
    &__title {
        font-size: 34px;
        color: #fff;
    }
    &__cont {}
    &__item {
        padding-left: 30px;
        line-height: 32px;
        font-size: 16px;
        color: #666;
    }
}

.slider__block {
    width: 994px;
    height: 588px;
    margin: 85px auto 64px;
    background: #000;
}
