<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../layui/css/layui.css"/>
	</head>
	<body>
	    <!--<header class="dola-header">
            <div class="dola-container">
                <div class="dola-header-top">
                    <div class="dola-header-top-left"></div>
                    <div class="dola-header-top-right">
                        <nav class="dola-header-top-nav">
                            <ul class="dola-header-top-nav-lists">
                                <li class="dola-header-top-nav-list dola-header-top-nav-list01">
                                    <a href="javascript:;"><i class="icon"></i>下载APP</a>
                                </li>
                                <li class="dola-header-top-nav-list dola-header-top-nav-list02">
                                    <a href="javascript:;">常见问题</a>
                                </li>
                                <li class="dola-header-top-nav-list dola-header-top-nav-list03">
                                    <a href="javascript:;">网贷课堂</a>
                                </li>
                                <li class="dola-header-top-nav-list dola-header-top-nav-list04">
                                    <a href="javascript:;">注册</a>
                                </li>
                                <li class="dola-header-top-nav-list dola-header-top-nav-list05">
                                    <a href="javascript:;">登录</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="dola-header-bottom"></div>
            </div>
	    </header>-->

        <a href="javascript:;" id="layer_btn">layer</a>


        <script src="../js/des.js" type="text/javascript" charset="utf-8"></script>
	    <script src="../layui/layui.js" type="text/javascript" charset="utf-8"></script>
	    <script type="text/javascript">
	    	layui.config({
                base: '../js/modules/'
            }).use('main');
	    </script>
	</body>
</html>
